.form-wizard .steps li {
	display: none;
}


.form-wizard .steps li.current {
	display: block;
}


.form-wizard .steps .fieldset-legend {
	font-weight: bold;
	padding-left: 20px;
}


.form-wizard .p {
	max-width: 100%;
	height: 2em;
	line-height: 2em;
}


.form-wizard .btn {
	cursor: pointer;
	padding: 5px 10px;
}


.form-wizard .prev {
	float: left;
}


.form-wizard .next {
	float: right;
}
